<%= render "layouts/banner" %>
<div class="online-banner-area">
    <div class="container">
        <div class="banner-title text-center">
            <h2><span><%= t "top" %></span></h2>
        </div>
        <div class="row">
            <div class="banner-list">
              <% @top_books.each do |book| %>
                <div class="col-md-4 col-sm-6">
                    <div class="single-banner">
                        <%= link_to book_path(book) do %>
                          <%= image_tag book.image.url %>
                        <% end %>
                        <div class="price"><%= format_money_amount book.money %></div>
                        <div class="banner-bottom text-center">
                          <%= link_to book.name, book_path(book) %>
                        </div>
                    </div>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</div>
<%= render "static_pages/shop" %>
<script type="text/javascript">
<% if flash[:success] %>
  toastr.success("<%= flash[:success] %>")
<% end %>
<% if flash[:warning] %>
  toastr.warning("<%= flash[:warning] %>")
<% end %>
<% if flash[:danger] %>
  toastr.error("<%= flash[:danger] %>")
<% end %>
</script>>
