<div class="content-header">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div class="header-section">
    <h1>
      <%= t ".categories_management" %>
    </h1>
  </div>
</div>
<div class="block full">
  <div class="block-title">
    <p><strong><%= t ".list_categories" %></strong></p>
  </div>
  <div class="table-responsive test-created-table">
    <div class="dataTables_wrapper">
      <div class="row add-new">
        <div class="col-md-3 mb-10 remove-padding pb-4">
          <div>
            <%= link_to new_admin_category_path, class: "btn btn-primary margin-left-5 new-cate", remote: true do %>
              <i class="fa fa-plus"></i> <%= t ".new_workspace" %>
            <% end %>
          </div>
        </div>
      </div>
      <table class="table table-vcenter table-condensed table-bordered">
        <thead>
          <tr>
            <th class="text-center"><%= t ".index" %></th>
            <th class="text-center"><%= t ".name" %></th>
            <th class="text-center"><%= t ".description" %></th>
            <th class="text-center"><%= t ".status" %></th>
            <th class="text-center"><%= t ".action" %></th>
          </tr>
        </thead>
        <tbody id="list-categories">
          <%= render @categories %>
        </tbody>
      </table>
    </div>
    <div id="pagination">
      <%= paginate @categories %>
    </div>
  </div>
</div>
<div id="modal-category-detail" class="modal fade" data-backdrop="static"></div>
<div id="category-modal" class="modal fade" data-backdrop="static"></div>
