<tr>
  <td class="text-center" >
    <%= create_index params[:page], user_counter, Settings.paginate.show_15 %>
  </td>
  <td class="text-center"><strong><%= user.name %></strong></td>
  <td class="text-center"><%= user.email %></td>
  <td class="text-center"><%= user.staff_type_i18n if user.staff_type.present? %></td>
  <td class="text-center">
    <p class="label label_category_<%= user.status %>">
      <%= user.enable_status_i18n %>
    </p>
  </td>
  <td class="text-center" >
  <% unless user.is_customer? %>
    <div class="btn-group option">
      <%= link_to edit_admin_user_path(user), class: "btn btn-xs btn-primary button-custom",
        title: t(".edit") do %>
        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
    <div class="btn-group option">
      <%= button_tag class: "btn btn-xs btn-danger delete-user-button button-custom-danger",
        title: t(".delete"), data: {id: user.id, name: user.name} do %>
        <i class="fa fa-trash icon"></i>
      <% end %>
    </div>
    </div>
  </td>
</tr>
