<div class="header-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-6">
        <div class="header-logo">
          <%= link_to root_path do %>
            <%= image_tag "logo.png" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 hidden-xs">
        <div class="mainmenu text-center">
          <nav>
            <ul id="nav">
              <li>
                <%= link_to "HOME", root_path %>
              </li>
              <li><a href="#">Category</a>
                <ul class="sub-menu">
                  <% @categories.each do |category| %>
                    <li><%= link_to category.name, category_path(category) %></li>
                  <% end %>
                </ul>
              </li>
              <li><a href="#">Author</a>
                <ul class="sub-menu">
                  <% @authors.each do |author| %>
                    <li><%= link_to author.name, author_path(author) %></li>
                  <% end %>
                </ul>
              </li>
              <li>
                  <%= link_to "ABOUT", root_path %>
                </li>
              <% if user_signed_in? %>
                <li>
                  <%= link_to "HISTORY", orders_path %>
                </li>
                <li>
                  <%= link_to "WISHLIST", wishlists_path %>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-3 hidden-sm">
        <div class="header-right">
          <ul>
            <% if user_signed_in? %>
              <li class="option-user">
                <%= link_to "#" do %>
                  <i class="fas fa-user"></i>
                <% end %>
                <ul class="sub-menu-self">
                  <% if current_user.is_admin? %>
                    <li><%= link_to "Admin Page", admin_root_path %></li>
                  <% end %>
                  <li><%= link_to "My account" %></li>
                </ul>
              </li>
            <% end %>
            <li class="shoping-cart">
              <a href="#">
                <i class="fas fa-cart-plus"></i>
                <span class="qty-cart"><%= current_quantity %></span>
              </a>
              <div class="add-to-cart-product">
                <% if session[:carts] %>
                  <%= render "layouts/cart_index" %>
                <% else %>
                  <div class="text-danger text-center not-product">
                    <%= t "not_product" %>
                  </div>
                <% end %>
              </div>
            </li>
            <li class="signin">
              <% unless user_signed_in? %>
                <%= link_to "Đăng nhập", signin_path %>
              <% else %>
                <%= link_to "Đăng xuất", destroy_user_session_path, method: :delete %>
              <% end %>
            </li>
            <% unless user_signed_in? %>
              <li class="signin">
                <%= link_to "Đăng ký", signup_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
